/* styles for inputs */

/* common styles */
.input-style {
  position: relative;
  width: 295px;
  height: 48px;
  padding: 16px;
  margin-bottom: 10px;
  font-family: var(--gilroy);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--gray-300);
  background-color: var(--gray-700);
  border: 2px solid var(--gray-600);
  border-radius: 70px;
}

.input-style:hover {
  border: 2px solid var(--gray-500);
}

.input-style:focus {
  border: 2px solid var(--yellow);
}

.input-style::placeholder,
.input-style:focus::placeholder {
  font-family: var(--gilroy);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--gray-500);
  cursor: pointer;
}

label {
  position: relative;
  width: 100%;
}

/* END common styles */

/* validation icons */
.valid {
  position: absolute;
  top: -8px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-image: url('~assets/icons/check_ok.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.valid:hover {
  cursor: pointer;
  background-image: url('~assets/icons/check_error.svg');
  transition: background-image 300ms ease;
}

.unvalid {
  position: absolute;
  top: -8px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url('~assets/icons/check_error.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.input-error {
  border: 2px solid var(--orange) !important;
}

.input-not-error {
  border: 2px solid var(--green) !important;
}

.show-password {
  position: absolute;
  top: -8px;
  right: 12px;
  z-index: 10;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-image: url('~assets/icons/icon_eye.svg');
  background-position: center;
  background-size: contain;
}

/* END validation icons */

/* messenger */

.telegram,
.skype {
  flex: 0 0 45px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  background-image: url('~assets/icons/icon_telegram.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
}

.skype {
  background-color: transparent;
  background-image: url('~assets/icons/icon_skype.svg');
}

.choose-msg {
  background-color: var(--gray-600);
}

.messenger-icon {
  position: absolute;
  top: -18px;
  right: 24px;
}

.messenger-input {
  width: 185px;
}

/* messenger */
